<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="../static/images/funnyCat.jpg" alt="Logo">
        <h1>Chatbot</h1>
      </div>
      <div class="conversation"></div>
      <div class="input">
        <input type="text" placeholder="Type a message...">
        <button>Send</button>
      </div>
    </div>
    <script src="../static/js/script.js"></script>
  </body>
</html>
